.Header{
    background-color: rgb(226, 226, 226);
    display: flex;
    justify-content:center
}
.Logo{
    width: 45%;
    border:2px solid rgb(31, 5, 136);
    border-radius:0.4rem;
}
@media screen and (min-width: 300px) and (max-width:994px) {
    .Logo{
        width: 100%;
    }
}